html{
    text-align: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
body {
    background: #f6e8b7;
    color: rgb(88, 58, 27);
}
.text {
    background: #1c1f27;
}
button {
    background: #1c1f27;
    border-color: azure;
    color: #eae253;
    font-family: "Courier New";
}
img {
    margin-top: 10px;