* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
  }
  
body {
  background-color: bisque;
  }

h1 {
    color: goldenrod;
    text-align: center;
}

img {
   float: left;
   position: relative;
}

ol {
    background: #ff9999;
    padding: 20px;
    width: 40%;
    border-radius: 25px;
  }
  
  ol li {
    background: #ffe5e5;
      padding: 5px;
      margin-left: 35px;
      text-align: center;
  }


  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    height: 70px;
  }
  
  td {
    text-align: center;
  }

.hcolor {
    color: goldenrod;
}

.skills {
    clear: left;
}
.pos {
    margin-left: 580px;
    color: goldenrod;
}
.picture {
    position: relative;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    width: 40%;
    border-radius: 25px;
}

.list {
    float: left;
}

.link {
    display: block;
    color: darkgoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#itable {
    color: lightcoral;
    padding-left: 45px;
  }